.title {
  color: var(--text);
}

.text {
  color: var(--text);
}

.accent {
  .title {
    color: var(--accent);
  }

  .text {
    color: var(--accent);
  }
}

.error {
  .title {
    color: var(--cancel);
  }

  .text {
    color: var(--cancel);
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.bold {
  .title,
  .text {
    font-weight: 700;
  }
}
