.Sidebar {
  height: 100%;
  width: var(--sidebar-width);
  background: var(--light-bg);
  position: relative;
  border-radius: 32px;
  transition: width 0.1s;

  .switchers {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }

  .collapseBtn {
    position: absolute;
    right: 0;
    top: 55%;
    transform: rotate(90deg);
  }

  .appLogo {
    padding-top: 20px;
  }

  .items {
    margin-top: 40px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .collapseBtn {
    transform: rotate(-90deg);
  }

  .lang {
    margin-left: 0;
  }

  .items {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
}
