.Code {
  border: 1px solid var(--accent);
  border-radius: 16px;
  padding: 20px;
  position: relative;
  background: var(--light-code);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 16px;
  top: 16px;
}

.copyIcon path {
  stroke: var(--dark-bg);
}
