:root,
.app_green {
  --bg-color: #f8faf5;
  --inverted-bg-color: #415321;
  --primary-color: #203716;
  --secondary-color: #283716;
  --inverted-primary-color: #f8faf5;
  --inverted-secondary-color: #f4faeb;
}
