.options {
  cursor: pointer;
  background: var(--dark-bg);
  position: absolute;
  z-index: var(--listbox-z-index);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg);

  .top {
    bottom: 100%;
  }
}

.selected {
  background: var(--light-bg);
}

.item {
  padding: 10px 20px;
}
